:root{
    --purple: #733FC8
    --gray: #49556B
    --dark-grayish-blue: #191F2D

}

/* reset */
    *,*::before, *::after{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
body{
    font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500 600;
  font-style: normal;
  line-height: 1;
  
}

img{
    max-width: 80%;
    display: block;
    border-radius: 50%;
}

.testimonial-grid-container{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
    grid-template-areas:
    "box1 box1 box2 box3"
    "box4 box5 box5 box3";
    justify-content: center;
}

main{
    padding: 100px;
}

.profile{
    display: flex;
    /* align-items: center; */
}

.name{
    max-height: 50px;
    padding: 10px;
}

.text{
    h4{
        margin: 10px 0px;
    }
    p{
        margin: 20px 0px;
    }
}

.box-one{
    background-color: #733FC8;
    grid-area: box1;
    padding: 30px;
    color: white;
    border-radius: 5px;
}

.box-two{
    background-color: #49556B;
    grid-area: box2;
    padding: 30px;
    color: white;
    border-radius: 5px;

}

.box-three{
    background-color: white;
    grid-area: box3;
    border-radius: 5px;
}

.box-four{
    background-color: white;
    grid-area: box4;
    border-radius: 5px;
}

.box-five{
    background-color: #191F2D;
    grid-area: box5;
    border-radius: 5px;
    padding: 20px;
    
}
